<div
  class="game-board"
  [ngClass]="isGameBoard ? 'big-board' : 'small-board'"
>
  <!-- create game board -->
  <ng-container *ngFor="let row of [].constructor(borderSize); let i = index">
    <ng-container
      *ngFor="let field of [].constructor(borderSize); let j = index"
    >
      <!-- single board field -->
      <button
        (click)="onPlay(i, j)"
        matRipple
        [disabled]="isGameOver"
        class="field"
        [ngClass]="[!isGameBoard && playerBoard[i][j] ? currentColor :
        isGameBoard && tetrisMatrix[i][j] ? tetrisMatrix[i][j] :
        '']"
      >{{i}},{{j}}</button>
    </ng-container>
  </ng-container>
</div>
